.title {
  font-size: 22px;
  margin-top: -15px;
  margin-left: 15px;
  margin-right: 15px;  
}

.green-title {
  color:#207f4a;  
}

.sub-title {
  font-size: 14px;
  color:gray;
  margin-left: 15px;
}

.home-pic {
  margin-top: -20px;  
}

.home-card {
  box-shadow: none;
}

.home-button {
  width: 100%;
}

.user-avatar {
  margin-right: 15px;
}

.par-button{
  --background: #7d7e3d;
  margin-top: 20px;
}